
h1{
    color:rgb(6, 6, 6);
    background:linear-gradient(rgb(71, 68, 68),lightgray);
    font-family:"press Start 2P";
    font-stretch: condensed;
    background-size: cover;
    padding:10px;
    
}
